@import "../vars";
.m-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-out .225s;
    padding: 0;
    &:focus {
        box-shadow: none;
    }
}

.m-btn-accent{
    height: 3.25em;
    padding: 0 2em;
    font-weight: 700;
    color: $black;
    background-color: $primary;
    border-radius: .125em;
    span{
        font-size: .875em;
        letter-spacing: 0.04em;
    }
    img{
        display: block;
        width: 1.0625em;
        flex-shrink: 0;
        margin-left: 1em;
    }
    &:hover{
        color: $black;
        background-color: darken($primary,10%);
    }
}
