<div class="container">
    <div class="footer__inner">
        <div class="footer__left">
            <div class="footer__title">
                Contacts
            </div>
            <a href="tel:+9998673220199" class="footer__phone">
                +999 867 322 01 99
            </a>
            <div class="footer__address">
                <p>Str. Constantin Aricescu, nr. 26-30, etaj 3, ap. 6, camera 2, sector 1, Bucuresti, biroul 1</p>
                <p>J40/12278/2020</p>
                <p>CUI 43096751</p>
            </div>
        </div>
        <div class="footer__right">
            <div class="footer__c">
                © ATTILA BUSINESS ADVISORS S.R.L., 2023
            </div>
        </div>
    </div>
</div>
