$font1:'Prompt',sans-serif;
$black: #3A3E3E;
$primary: #F2AE55;
$light: #E0E0E0;
$secondary: #F4B65B;
$linear: linear-gradient(103.55deg, #3E4642 2.64%, #1B1D22 100.31%);
$bg: #E0DFD4;
$border: 1px solid $bg;
